{% extends "base.html" %}

{% block content %}

<br><br>

{% if current_user.is_authenticated %}
<h2>Dashboard</h2>

<br>

<h2>Account Information</h2>
First Name: {{ user.firstname }}
<form action="{{ url_for('users.change_fname', user_id=user.id) }}" method="post">
  <label for="change_fname">Change first name:</label>
  <input name='change'>
  <input type="submit" value="Change!">
</form>
<br>
Last Name: {{ user.lastname }}
<form action="{{ url_for('users.change_lname', user_id=user.id) }}" method="post">
  <label for="change_lname">Change last name:</label>
  <input name='change'>
  <input type="submit" value="Change!">
</form>
<br>

{% if seller_name %}
Store Name: {{ seller_name }}
<form action="{{ url_for('users.change_store', user_id=user.id) }}" method="post">
  <label for="change_lname">Change store name:</label>
  <input name='change'>
  <input type="submit" value="Change!">
</form>
<br>
{% endif %}

Email: {{ user.email }}
<form action="{{ url_for('users.change_email', user_id=user.id) }}" method="post">
  <label for="change_email">Change email:</label>
  <input name='change'>
  <input type="submit" value="Change!">
</form>
<br>
Address: {{ user.address }}
<form action="{{ url_for('users.change_address', user_id=user.id, field='address') }}" method="post">
  <label for="change_address">Change address:</label>
  <input name='change'>
  <input type="submit" value="Change!">
</form>
<br>
<form action="{{ url_for('users.change_password', user_id=user.id) }}" method="post">
  <label for="change_password">Change password:</label>
  <input name='change'>
  <input type="submit" value="Change!">
</form>
<br>
Account ID: {{ user.id }}

<br><br>

<h2>Account Balance: {{'%0.2f'|format(account_balance|float)}} </h2>
<form action="{{ url_for('users.add_balance', user_id=user.id) }}" method="post">
    <label for="add_balance">Add balance:</label>
    <input name='balance' type="number" step="0.01" min=0>
    <input type="submit" value="Add!">
</form>
<br>
<form action="{{ url_for('users.withdraw_balance', user_id=user.id) }}" method="post">
    <label for="withdraw_balance">Withdraw balance:</label>
    <input name='balance' type="number" step="0.01" min=0 max={{account_balance}}>
    <input type="submit" value="Withdraw!">
</form>

<br><br>

<h2>Your recent orders:</h2>
<b>{{ order_history|length }} orders </b> placed
{% if since %} since {{since}} {% endif %}
{% if item_search %} with items matching {{item_search}} {% endif %}
{% if seller_search %} and seller matching {{seller_search}} {% endif %}

<form method="post" action="{{ url_for('users.dash', user_id=current_user.id, filter=True)}}">
  <label>see orders placed in: </label>
  <select id='since' name='since'>
    {% if since_days %} <option value={{since_days}} selected hidden></option>
    {% else %} <option value='15000' selected hidden></option>
    {% endif %}
    <option value="90">past 3 months</option>
    <option value="365">past year</option>
    <option value="730">past 2 years</option>
    <option value="1825">past 5 years</option>
    <option value="15000">all</option>
  </select>
  <label>and/or search for item by name: </label>
  <input id='item_search' name='item_search' value={{item_search}}>
  <label>and/or search for seller by name: </label>
  <input id='seller_search' name='seller_search' value={{seller_search}}>
  <button type="submit" name='page' id='page' value="1">search!</button>
  <br>
  go to page:
  {% for n in range((order_history|length/10)|round(0,'ceil')|int) %}
    <input type="submit" name='page' id='page' value={{n|int + 1}}>
  {% endfor %}
</form>
<br><br>
<form method="post" action="{{ url_for('users.dash', user_id=current_user.id)}}">
  <input type="submit" value="clear search parameters!" >
</form>

<br><br>
<table class='table table-hover table-bordered container'>
  <tbody>
    {% for order_group in order_history[(page_num|int - 1) * 10:page_num|int*10]%}
      <thead>
        <tr>
          <th scope="col">Order Placed: {{order_group[0].time_purchased}}</th>
          {% set totals = [] %}
          {% for order in order_group %}
            {% if totals.append(order.final_price * order.quantity) %}{% endif %}
          {% endfor %}
          <th scope="col">Total Price: ${{ '%0.2f' | format(totals | sum) }} </th>
        </tr>
      </thead>
      <thead class="thead-dark">
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Seller Name</th>
          <th scope="col">Fullfillment Status</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price Paid</th>
          <th scope="col">Date Purchased</th>
          <th scope="col">Product Page</th>
        </tr>
      </thead>
      {% for order in order_group%}
        <tr>
          <th scope="row">{{order.product_name}}</th>
          <td>{{order.seller_id}}</td>
          <td>{{order.fulfillment_status}}</td>
          <td>{{order.quantity}}
          <td>{{order.final_price}}
          <td>{{order.time_purchased}}</td>
          <td> <a href="{{ url_for('index.get_product_page', name=order.product_name) }}" type="button" class="btn btn-light">go to page!</a></td>
        </tr>
      {% endfor %}
      <td></td>
    {% endfor %}
  </tbody>
</table>

{% else %}
<h2>Account Information</h2>
<br>
Name: {{ user.firstname }} {{ user.lastname }}
<br>
Account ID: {{ user.id }}
<br>
{% if seller_name %}
Email: {{ user.email }}
<br>
Store Name: {{ seller_name }}
{% endif %}

{% endif %}
{% endblock %}
