{% extends "base.html" %}

{% block content %}

<h1> Order Details </h1>
<h3> Ordered on {{ timestamp }} </h3>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Seller Name</th>
      <th scope="col">Fullfillment Status</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price Paid</th>
      <th scope="col">Product Page</th>
    </tr>
  </thead>
  <tbody>
  {% for order in orders%}
    <tr>
      <th scope="row">{{order.product_name}}</th>
      <td>{{order.seller_id}}</td>
      <td>{{order.fulfillment_status}}</td>
      <td>{{order.quantity}}
      <td>{{order.final_price}}
      <td> <a href="{{ url_for('index.get_product_page', name=order.product_name) }}" type="button" class="btn btn-dark">go to page!</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
