{% extends "base.html" %}

{% block content %}

<br><br>

<h5>Search parameters:</h5>
<form action="{{ url_for('index.get_search_results')}}" method="POST">
    <label>Search item keyword:</label>
    <input type="text" placeholder="Type here" name="search" id="search"/>
    <br>
    <label>Select item category:</label>
    <select id='category' name='category'>
      <option value=''></option>
      {% for cat in categories%}
        <option value={{cat}}>{{cat}}</option>
      {% endfor %}
    </select>
    <br>
    <select id='sort' name='sort'>
      <option value=''></option>
      <option value='asc'>Price low to high</option>
      <option value='desc'>Price high to low</option>
    </select>
    <br>
    <button class="btn btn-light" type="submit" value="submit">Search</button>
</form>

{% if search_params %}
  Search parameters:
  {% for param in search_params%}
    {{param}}
  {% endfor %}
  <a href="{{ url_for('index.index') }}" type="button" class="btn btn-light">clear!</a>
{% endif %}

<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Price Starting From</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row"> <a href="{{ url_for('index.get_product_page', name=product.name)}}">{{product.name}}</a> </th>
        <td>{{product.price}}</td>
        <td><img src="/static/css/images/{{product.category_name}}.jpeg" alt={{product.name}} style="width:auto;height:50px"></td>
        <td>{{product.description}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
