{% extends "base.html" %}

{% block content %}

<br><br>
<h5>Search parameters:</h5>
<form action="{{ url_for('index.get_search_results')}}" method="POST">
    <label>Search item keyword:</label>
    <input name="search" id="search" value={{item_search}}>
    <br>
    <label>Select item category:</label>
    <select id='category' name='category'>
      {% if category %} <option value={{category}} selected hidden></option>
      {% else %} <option value='' selected hidden></option>
      {% endif %}
      {% for cat in categories%}
        <option value={{cat}}>{{cat}}</option>
      {% endfor %}
    </select>
    <br>
    <label>Sort items:</label>
    <select id='sort' name='sort'>
      {% if sort %} <option value={{sort}} selected hidden></option>
      {% else %} <option value='' selected hidden></option>
      {% endif %}
      <option value='price_ascending'>Price low to high</option>
      <option value='price_descending'>Price high to low</option>
    </select>
    <br>
    <label>Filter by price:</label>
    <br>
    <label>Min price:</label>
    <input name='min_product_price' type="number" style="width:100px;" step="0.01" min=0.00 value={{min_price}}>
    <label>Max price:</label>
    <input name='max_product_price' type="number" style="width:100px;" step="0.01" min=0.01 value={{max_price}}>
    <br>
    <label>Filter by product rating:</label>
    <br>
    <label>Min rating:</label>
    <input name='min_product_rating' type="number" style="width:100px;" step="0.01" min=0.00 value={{min_rating}}>
    <label>Max rating:</label>
    <input name='max_product_rating' type="number" style="width:100px;" step="0.01" min=0.01 value={{max_rating}}>
    <br>
    <button type="submit" name='page' id='page' value="1">search!</button>
    <br>
    <br>
    Search parameters:
    {% for param in search_params%}
    {{param}}
    {% endfor %}
    <br>
    <br>
    <a href="{{ url_for('index.index') }}" type="button" class="btn btn-light">clear search parameters!</a>
    <br>
    <br>
    go to page: 
    {% for n in range((avail_products|length/10)|round(0,'ceil')|int) %}
      <input type="submit" name='page' id='page' value={{n|int + 1}}>
    {% endfor %}
</form>




<br>



<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Price Starting From</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products[(page_num|int - 1) * 10:page_num|int*10]%}
      <tr>
        <th scope="row"> <a href="{{ url_for('index.get_product_page', name=product.name)}}">{{product.name}}</a> </th>
        <td>{{product.price}}</td>
        <td><img src={{product.image_url}} alt={{product.name}} style="width:auto;height:50px"></td>
        <td>{{product.description}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
