{% extends "base.html" %}

{% block content %}

<br><br>

{% for mesg in get_flashed_messages() %}
<p><strong> {{ mesg }} </strong></p>
{% endfor %}

{% if available %}
<h2>Product Details:</h2>
  <tbody>
    {% if prod%}
      <tr>
        <br>
        <h3> Product Name: {{prod.name}}</h3>
        <!-- <td>{{prod.price}}</td> -->
        <!-- <th scope="col">Image</th> -->
        <br>
        <h4 > Description: {{prod.description}}</h4>
        <!-- <img src="/static/css/images/{{prod.category_name}}.jpeg" alt={{prod.name}} style="width:150px;height:150px;margin-left:200px;"> -->
        <img src={{prod.image_url}} alt={{prod.name}} style="width:150px;height:150px;margin-left:200px;">
        <br>
        <br>
      </tr>
    {% endif %}
  </tbody>
{% else %}
<h2>This product is no longer available.</h2>
{% endif %}

{% if available %}
<h2>Seller Details:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <!-- <th scope="col">Product Name</th> -->
      <th scope="col">Price</th>
      <!-- <th scope="col">Image</th> -->
      <!-- <th scope="col">Description</th> -->
      <th scope="col">Seller</th>
      <th scope="col">Seller Quantity</th>
      <th scope="col">Add Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for prod in product%}
      <tr>
        <!-- <th scope="row">{{prod.name}}</th> -->
        <td>{{prod.price}}</td>
        <!-- <td><img src="/static/css/images/{{prod.category_name}}.jpeg" alt={{prod.name}} style="width:auto;height:50px"></td> -->
        <!-- <td>{{prod.description}}</td> -->
        <td>{{prod.seller_name}}</td>
        <td>{{prod.quantity_in_inventory}}</td>
        <td>
          <form action="{{ url_for('cart.add_item_to_cart', product_name=prod.name, seller_id=prod.seller_id)}}" method="post">
          <input name='quantity' type="number" step="1" min=0>
          <!-- <input type="submit" value="Add to Cart"> -->
          <button type="submit" formaction="{{ url_for('cart.add_item_to_cart', product_name=prod.name, seller_id=prod.seller_id)}}">
            Add to Cart
          </button>

          <button type="submit" formaction="{{ url_for('cart.add_item_to_save_for_later', product_name=prod.name, seller_id=prod.seller_id)}}">
              Save For Later
          </button>

          </form></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h2>This product is no longer available.</h2>
{% endif %}

<br><br>
{% if current_user.is_authenticated %}
{% if review_exists %}
<h2> Your feedback for this product!</h2>
<b>Your Rating:</b> {{rating}} <br>
<b>Your Review:</b> {{reviewText}}<br>
<br>
<h2> Edit your feedback for this product.</h2>
<form action="{{ url_for('index.change_product_rating', product_name=name,summary=0)}}" method="post">
  <label for="add_rating"><b>Change Rating (from 1 to 5):</b></label>
  <input name='rating' type="number" min=1 max=5 step=1><br>
  <textarea rows = "5" cols = "60" name = "review" id="review" maxlength=1000 placeholder="Change your text review here (optional)..."></textarea><br>
  <input type="submit" value="Submit">
</form>
<br>
<form action="{{ url_for('index.delete_product_text_review', product_name=name,summary=0)}}" method="post">
  <input type="submit" value="Delete Text Review">
</form><br>
<form action="{{ url_for('index.delete_product_rating', product_name=name,summary=0)}}" method="post">
  <input type="submit" value="Delete Entire Review">
</form>

<br>

{% else %}

<h2>Add a Rating for This Product!</h2>
<form action="{{ url_for('index.add_review_product', product_name=name)}}" method="post">
  <label for="add_rating">Rate from 1 to 5 (required):</label>
  <input name='rating' type="number" min=1 max=5 step=1 required> <br>
  <textarea rows = "5" cols = "60" name = "review" id="review" maxlength=1000 placeholder="Enter your text review here (optional)..."></textarea><br>
  <input type="submit" value="Submit">
</form>

<br>

{% endif %}

{% else %}
<br> <br>
Please log in to add a rating for this product.
<br> <br>
{% endif %}

<form action="{{ url_for('index.get_sorted_product_page',name=name)}}" method="POST">
    <label>Sort reviews:</label>
    <select id='sortProduct' name='sortProduct'>
      {% if sort %} <option value={{sort}} selected hidden></option>
      {% else %} <option value='' selected hidden></option>
      {% endif %}
      <option value='reverse_chronological'>Reverse chronological</option>
      <option value='chronological'>Chronological</option>
      <option value='rating_low_to_high'>Rating low to high</option>
      <option value='rating_high_to_low'>Rating high to low</option>
    </select>
    <button type="submit" name='submit' id='submit' value="1">sort!</button>
    </form>
    <br>


<h2>All Reviews for this Product:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Date</th>
      <th scope="col">Rating</th>
      <th scope="col">Reviews</th>
      <th scope="col">Upvotes</th>
      <th scope="col">Downvotes</th>
    </tr>
  </thead>
  <tbody>
    {% for product_review in product_review_list %}
      <tr>
        <td>{{product_review.reviewer_name}}</td>
        <td>{{product_review.date}}</td>
        <td>{{product_review.rating}}</td>
	<td>{{product_review.reviewText}}</td>
        <td>{{product_review.upvote_count}}</td>
        <td>{{product_review.downvote_count}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>



<br><br>

{% endblock %}
