{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Product Details:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
      <th scope="col">Seller</th>
      <th scope="col">Seller Quantity</th>
      <th scope="col">Add Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for prod in product%}
      <tr>
        <th scope="row">{{prod.name}}</th>
        <td>{{prod.price}}</td>
        <td><img src="/static/css/images/{{prod.category_name}}.jpeg" alt={{prod.name}} style="width:auto;height:50px"></td>
        <td>{{prod.description}}</td>
        <td>{{prod.seller_id}}</td>
        <td>{{prod.quantity_in_inventory}}</td>
        <td> <form method="post">
          <input name='quantity' type="number" step="1" min=0>
          <input type="submit" value="Add"> </td>
      </form></td>
      </tr>
    {% endfor %}
    <!-- {% for product in seller_inventory%}
      <tr>
        <th scope="row">{{product.price}}</th>
        <td>{{product.quantity_in_inventory}}</td>
      </tr>
    {% endfor %} -->
  </tbody>
</table>

<br><br>

{% endblock %}


