{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Reviews for Seller {{review_list[0].seller_id}}:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Seller ID</th>
      <th scope="col">Rating</th>
      <th scope="col">Date</th>
      <th scope="col">Upvotes</th>
      <th scope="col">Downvotes</th>
    </tr>
  </thead>
  <tbody>
    {% for seller_review in review_list %}
      <tr>
        <th scope="row">{{seller_review.buyer_id}}</th>
        <td>{{seller_review.rating}}</td>
        <td>{{seller_review.date}}</td>
        <td>{{seller_review.upvote_count}}</td>
        <td>{{seller_review.downvote_count}}</td>

      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

{% endblock %}
