{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Your products on the market:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity Available</th>
    </tr>
  </thead>
  <tbody>
    {% for product in seller_inventory%}
      <tr>
        <th scope="row">{{product.product_name}}</th>
        <td>{{product.price}}</td>
        <td>{{product.quantity_in_inventory}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

{% endblock %}
