{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Your Seller Reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Seller ID</th>
      <th scope="col">Rating</th>
      <th scope="col">Date</th>
      <th scope="col">Upvotes</th>
      <th scope="col">Downvotes</th>
    </tr>
  </thead>
  <tbody>
    {% for seller_review in seller_review_list %}
      <tr>
        <th scope="row">{{seller_review.seller_id}}</th>
        <td>{{seller_review.rating}}</td>
        <td>{{seller_review.date}}</td>
        <td>{{seller_review.upvote_count}}</td>
        <td>{{seller_review.downvote_count}}</td>

      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

<h2>Your Product Reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Rating</th>
      <th scope="col">Date</th>
      <th scope="col">Upvotes</th>
      <th scope="col">Downvotes</th>
    </tr>
  </thead>
  <tbody>
    {% for product_review in product_review_list %}
      <tr>
        <th scope="row">{{product_review.product_name}}</th>
        <td>{{product_review.rating}}</td>
        <td>{{product_review.date}}</td>
        <td>{{product_review.upvote_count}}</td>
        <td>{{product_review.downvote_count}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

{% endblock %}


