{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Your Seller Reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Seller ID</th>
      <th scope="col">Rating</th>
      <th scope="col">Date</th>
      <th scope="col">Upvotes</th>
      <th scope="col">Downvotes</th>
    </tr>
  </thead>
  <tbody>
    {% for seller_review in seller_review_list %}
      <tr>
        <th scope="row">{{seller_review.seller_id}}</th>
        <td>{{seller_review.rating}}</td>
        <td>{{seller_review.date}}</td>
        <td>{{seller_review.upvote_count}}</td>
        <td>{{seller_review.downvote_count}}</td>

      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

<h2> Your feedback for this product!</h2>
<b>Your Rating:</b> {{product_review_to_edit.rating}} <br>
<b>Your Review:</b> {{product_review_to_edit.reviewText}}<br>
<br>
<h2> Edit your feedback for this product.</h2>
<form action="{{ url_for('index.change_product_rating', product_name=product_review_to_edit.product_name,summary=1)}}" method="post">
  <label for="add_rating"><b>Change Rating (from 1 to 5):</b></label>
  <input name='rating' type="number" min=1 max=5 step=1><br>
  <textarea rows = "5" cols = "60" name = "review" id="review" maxlength=1000 placeholder="Change your text review here (optional)..."></textarea><br>
  <input type="submit" value="Submit">
</form>
<br>
<form action="{{ url_for('index.delete_product_text_review', product_name=product_review_to_edit.product_name,summary=1)}}" method="post">
  <input type="submit" value="Delete Text Review">
</form><br>
<form action="{{ url_for('index.delete_product_rating', product_name=product_review_to_edit.product_name,summary=1)}}" method="post">
  <input type="submit" value="Delete Entire Review">
</form>
<br>
<form action="{{ url_for('index.get_reviews_by_user')}}">
  <input type="submit" value="Cancel Edit">
</form>


<br>


<h2>Your Product Reviews:</h2>
<b>Finish or cancel your current edit to edit another review, and dynamically sort all reviews.</b>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Date</th>
      <th scope="col">Rating</th>
      <th scope="col">Text Review</th>
      <th scope="col">Upvotes</th>
      <th scope="col">Downvotes</th>
    </tr>
  </thead>
  <tbody>
    {% for product_review in product_review_list %}
      <tr>
        <th scope="row">{{product_review.product_name}}</th>
        <td>{{product_review.date}}</td>
	<td>{{product_review.rating}}</td>
	{% if product_review.reviewText|length >0 %}
	<td><details><summary><b>Read review</b></summary>{{product_review.reviewText}}</details></td>
        {% else %}
	<td>No text review</td>
        {% endif %}	
	<td>{{product_review.upvote_count}}</td>
        <td>{{product_review.downvote_count}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

{% endblock %}


