{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Your Seller Reviews:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Seller</th>
      <th scope="col">Date</th>
      <th scope="col">Rating</th>
      <th scope="col">Text Review</th>
      <th scope="col">Upvotes</th>
      <th scope="col">Downvotes</th>
    </tr>
  </thead>
  <tbody>
    {% for seller_review in seller_review_list %}
      <tr>
        <th scope="row"> <a href="{{ url_for('users.get_public_user_page', user_id=seller_review.seller_id)}}">{{seller_review.seller_name}}</a> </th>

        <td>{{seller_review.date}}</td>
	<td>{{seller_review.rating}}</td>
	{% if seller_review.reviewText|length >0 %}
	<td><details><summary><b>Read review</b></summary>{{seller_review.reviewText}}</details></td>
        {% else %}
	<td>No text review</td>
        {% endif %}
	<td>{{seller_review.upvote_count}}</td>
        <td>{{seller_review.downvote_count}}</td>

      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

<h2>Seller Information</h2>
<b>Seller Name:</b> {{ seller_review_to_edit.seller_name }}
<h2> Your feedback for this seller!</h2>
<b>Your Rating:</b> {{seller_review_to_edit.rating}} <br>
<b>Your Review:</b> {{seller_review_to_edit.reviewText}}<br>
<br>
<h2> Edit your feedback for this seller.</h2>
<form action="{{ url_for('index.change_seller_rating', seller_id=seller_review_to_edit.seller_id,summary=1)}}" method="post">
  <label for="add_rating"><b>Change Rating (from 1 to 5):</b></label>
  <input name='rating' type="number" min=1 max=5 step=1><br>
  <textarea rows = "5" cols = "60" name = "review" id="review" maxlength=1000 placeholder="Change your text review here (optional)..."></textarea><br>
  <input type="submit" value="Submit">
</form>
<br>
<form action="{{ url_for('index.delete_seller_text_review', seller_id=seller_review_to_edit.seller_id,summary=1)}}" method="post">
  <input type="submit" value="Delete Text Review">
</form><br>
<form action="{{ url_for('index.delete_seller_rating', seller_id=seller_review_to_edit.seller_id,summary=1)}}" method="post">
  <input type="submit" value="Delete Entire Review">
</form>
<br>
<form action="{{ url_for('index.get_reviews_by_user')}}">
  <input type="submit" value="Cancel Edit">
</form>
<br>

<b>Finish or cancel your current edit to edit another product or seller review or dynamically sort all reviews.</b>

<br>


<h2>Your Product Reviews:</h2>

<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Date</th>
      <th scope="col">Rating</th>
      <th scope="col">Text Review</th>
      <th scope="col">Upvotes</th>
      <th scope="col">Downvotes</th>
    </tr>
  </thead>
  <tbody>
    {% for product_review in product_review_list %}
      <tr>
	<th scope="row"> <a href="{{ url_for('index.get_product_page', name=product_review.product_name)}}">{{product_review.product_name}}</a> </th>
        <td>{{product_review.date}}</td>
	<td>{{product_review.rating}}</td>
	{% if product_review.reviewText|length >0 %}
	<td><details><summary><b>Read review</b></summary>{{product_review.reviewText}}</details></td>
        {% else %}
	<td>No text review</td>
        {% endif %}	
	<td>{{product_review.upvote_count}}</td>
        <td>{{product_review.downvote_count}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br><br>

{% endblock %}


